KEA_DB={{ kea_db }}
KEA_DB_HOST={{ kea_db_host }}
KEA_DB_USER={{ kea_db_user }}
KEA_DB_USER_PASSWORD={{ kea_db_user_password }}
VAULT_ROLE_ID={{ vault_role_id }}
VAULT_SECRET_ID={{ vault_secret_id }}
CA_FILE_PATH=/usr/local/share/ca-certificates/CA.pem
REGION={{ region }}
