POSTGRES_PASSWORD={{ kea_db_admin_password }}
KEA_STORK_DB={{ kea_stork_db }}
KEA_STORK_DB_USER={{ kea_stork_db_user }}
KEA_STORK_DB_USER_PASSWORD={{ kea_stork_db_user_password }}
KEA_DB={{ kea_db }}
KEA_DB_USER={{ kea_db_user }}
KEA_DB_USER_PASSWORD={{ kea_db_user_password }}

